@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
     margin: 0;
     padding: 0;
     font-family: Ubuntu;
     font-weight: lighter;
}

body{
  background-color: #efeeee;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 100vh;
}

.nav{
    width: calc(100% - 6rem);
    height: 75px;
    background-color: #efeeee;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5),
                8px 8px 15px rgba(0, 0, 0, 0.0),
                3px 3px 5px rgba(0, 0, 0, 0.1),
                -1px -1px 5px rgba(255, 255, 255, 1);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3rem;
    list-style-type: none;
    margin-bottom: 5%;
  }
    
    li.logo{
      margin-right: auto;
      font-size: 1.5rem;
      color: dimgray;
  
      background: linear-gradient(45deg , rgb(0, 174, 255) , rgb(132, 0, 255));
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
      
    
    .nologo{
      margin: 0 1rem;
      padding: 0.5rem 1.5rem;
      border: 2px solid rgba(255,255,255,.3);
      box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);
      border-radius: 10px;
      cursor: pointer;
      transition: color 0.2s ease-out, transform 0.2s ease-out;
      color: dimgray;
    }
      
      .nologo:hover{
        transform: scale(1.05);
        box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1);
  }
      
  .nologo:focus,.neutroA{
    outline: none;
    transform: scale(0.95);
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5),
                8px 8px 15px rgba(0, 0, 0, 0.2),
                inset 3px 3px 5px rgba(0, 0, 0, 0.1),
                inset -1px -1px 5px rgba(255, 255, 255, 1);
    /* box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1), 4px 4px 10px 0 rgba(0,0,0,.1) inset, -4px -4px 10px rgba(255,255,255,1) inset; */
  }

  .nologo:hover, .nologo:focus, .neutroA{
    color: white;
    -webkit-text-fill-color: white;
    background: linear-gradient(45deg , rgb(0, 238, 255) , rgb(132, 0, 255));
    border: none;
  }
      

.container{
width: 50%;
height: 90vh;
box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5),
            8px 8px 15px rgba(0, 0, 0, 0.0),
             3px 3px 5px rgba(0, 0, 0, 0.1),
             -1px -1px 5px rgba(255, 255, 255, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    position: absolute;
    top: 25%;

    background: linear-gradient(45deg , rgb(0, 174, 255) , rgb(132, 0, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.inp{
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5),
                8px 8px 15px rgba(0, 0, 0, 0.0),
                inset 3px 3px 5px rgba(0, 0, 0, 0.1),
                inset -1px -1px 5px rgba(255, 255, 255, 1);

    border: none;
    background: #efeeee;
    padding: 10px;
    border-radius: 10px;
}

.inpdiv p{
    background: linear-gradient(45deg , rgb(0, 174, 255) , rgb(132, 0, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0 10px;
}

.inpdiv{
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin: 10px 0;
}

.neutro{
    padding: 10px 10px;
    margin: 20px 10px;
    background: linear-gradient(45deg , rgb(0, 174, 255) , rgb(132, 0, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border: none;
    border-radius: .5rem;
    color: #444;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 2px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
  }
  .neutro:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
    background: linear-gradient(45deg , rgb(0, 238, 255) , rgb(132, 0, 255));
    -webkit-text-fill-color: white;
    transform: scale(1.05);
  }
  .neutro:focus {
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5),
                8px 8px 15px rgba(0, 0, 0, 0.2),
                inset 3px 3px 5px rgba(0, 0, 0, 0.1),
                inset -1px -1px 5px rgba(255, 255, 255, 1);
    background: linear-gradient(45deg , rgb(0, 238, 255) , rgb(132, 0, 255));
    -webkit-text-fill-color: white;
  }




  footer{
    position: absolute;
    bottom: -200px;
    left: 0;

    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar{
  background: #efeeee;
}

::-webkit-scrollbar-thumb{
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5),
        8px 8px 15px rgba(0, 0, 0, 0.0),
        inset 3px 3px 5px rgba(0, 0, 0, 0.1),
        inset -1px -1px 5px rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.shade{
    background: linear-gradient(45deg , rgb(0, 174, 255) , rgb(132, 0, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

a{
  text-decoration: none;
  color: dimgray;
}

.nologo:hover a{
  color: white;
}

.neutroA a{
  color: white;
}

